<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/pet-the-kittens/public/assets/css/kitten_style.css" type="text/css" />
    <title>Pet the Kittens!</title>
    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/pet-the-kittens/public/assets/js/kittens.js"></script>
</head>

<body>
    {{{ body }}}
</body>

</html>