body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.top-row {
    padding-top: 8%;
}
.kitten-text {
    font-size: medium;
}
li {
    font-size: x-large;
}
