html {
    height: 1400px;
}
body {
    background-image: url(../img/background.jpg);
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
}
.add-kit {
    padding: 5% 0%;
}
.kitten-text {
    font-size: medium;
}
li {
    font-size: x-large;
}
.change-pet,
.delete-kitten {
    margin-left: 3%;
}
